<footer class="footer">
  <div class="footer__logo logo">LOGO</div>
  <div class="footer__info">
    <span class="footer__label">Email:</span><a class="link" href="mailto:support@sfer.io">support@sfer.io</a>
    <span class="footer__label">Tel:</span><a class="link" href="tel:+380937897878">+38 093 789 78 78</a>
  </div>
  <div class="footer__socials socials">
    <ul class="socials__list">
      <li class="socials__item">
        <a class="socials__link" href="#fb">fb</a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="#twitter">tw</a>
      </li>
    </ul>
  </div>
</footer>