<footer class="footer">
  <div class="container container--full">
    <div class="footer__top">
      <div class="footer__logo logo">
        <a href="HOME">{{mixins.icon('logo')}}</a>
      </div>
      <div class="footer__info">
        <span class="footer__label bold ml0">Email:</span>
        <a class="link" href="mailto:support@sfer.io">support@sfer.io</a>
        <span class="footer__label bold">Tel:</span>
        <a class="link" href="tel:+380937897878">+38 093 789 78 78</a>
      </div>
      <div class="footer__socials socials">
        <ul class="socials__list">
          <li class="socials__item">
            <a class="socials__link" href="#fb">{{mixins.icon('facebook')}}</a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#twitter">{{mixins.icon('twitter')}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link" data-title="Пользовательское соглашение">
            Пользовательское соглашение
          </a> 
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-title="Гарантия">
            Гарантия
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-title="Политика конфиденциальности">
            Политика конфиденциальности
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__copyright">
      <p class="text-center f12">2018 © Smart Sphere. Все права сохранены.</p>
    </div>
  </div>
</footer>