.capability
  &.sc
    padding-bottom: 15px
  &__item
    padding-top: 100px
  &__add
    margin-top: 125px
  &__icon-t
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    margin-top: 50px
    .icon-t__item
      flex: 0 0 50%
      &:nth-child(2n)
        text-align: right

.icon-t
  &__item
    margin-bottom: 65px
  &__content
    display: inline-block
    text-align: left
  &__i
    display: inline-block
    vertical-align: middle
    width: 70px
    flex: 0 0 70px
  &__t
    display: inline-block
    vertical-align: middle
    margin-left: 35px
    max-width: 300px
    p
      margin-bottom: 0