.connection
  &__item
    margin-bottom: 50px
  &__tip
    font-size: 16px
    margin-top: 75px

.num-circle
  position: relative
  color: #fff
  margin-right: 30px
  display: inline-block
  line-height: 0
  &:before
    content: ''
    display: inline-block
    position: absolute
    background: #3f4147
    width: 40px
    height: 40px
    z-index: -1
    top: 50%
    left: 50%
    -webkit-transform: translateX(-50%) translateY(-50%)
    transform: translateX(-50%) translateY(-50%)
    border-radius: 50%