<section class="sc capability" id="capability">
  <div class="container">
    <h2 class="sc__heading">Какие возможности системы?</h2>
    <div class="row">
      <div class="col-md-6">
        IMAGE
      </div>
      <div class="col-md-6">
        <h3 class="h3">
           Измерение электрических параметров
        </h3>
        <p>Sferio дает возможность снимать информацию с датчиков температуры, постоянного и переменного напряжения, а также с других
        аналоговых и цифровых датчиков (влажности, движения, открытия дверей, протечки). Передача информации осуществляется через
        стек протоколов XML/HTTP/TCP-IP/Wi-FI.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3 class="h3">
           Cбор и обработка информации средствами ZABBIX
        </h3>
        <p>Для обработки информации Sferio использует <span class="link">ZABBIX</span> — свободную систему мониторинга и отслеживания статусов сервисов. ZABBIX
        позволяет собирать и хранить принятую информацию, настраивать оповещения при выходе сигнала за определенные рамки и логику
        анализа данных.</p>
      </div>
      <div class="col-md-6">
        IMAGE
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        IMAGE
      </div>
      <div class="col-md-6">
        <h3 class="h3">
           Отображение информации в удобном виде
        </h3>
        <p>Собранная с датчиков информация отображается через сайт либо специальные апаратные устройства (светофоры, светодиодные панели).
        Есть возможность привязки получаемой информации к карте местности.</p>
      </div>
    </div>
  </div>
  <aside class="capability__add">
    <div class="container">
      <div class="capability__icon-t icon-t">
        <div class="icon-t__item">
          <div class="icon-t__i">
            SVG
          </div>
          <div class="icon-t__t">
            <p>Конфигурация устройства по желанию заказчика</p>
          </div>
        </div>
        <div class="icon-t__item">
          <div class="icon-t__i">
            SVG
          </div>
          <div class="icon-t__t">
            <p>Питание от 8 до 30 В, ток потребления до 100 мА</p>
          </div>
        </div>
        <div class="icon-t__item">
          <div class="icon-t__i">
            SVG
          </div>
          <div class="icon-t__t">
            <p>Низкая стоимость владения системой</p>
          </div>
        </div>
        <div class="icon-t__item">
          <div class="icon-t__i">
            SVG
          </div>
          <div class="icon-t__t">
            <p>Работа в автономном режиме при наличии веб-сервера</p>
          </div>
        </div>
      </div>
    </div>
  </aside>
</section>