<section class="sc capability" id="capability">
  <div class="container">
    <h2 class="sc__heading">Какие возможности системы?</h2>
    <div class="row capability__item">
      <div class="offset-right-md-1 col-md-5 align-self-center">
        <img class="img-responsive" src="./img/electr.png" alt="electricity">
      </div>
      <div class="offset-md-1 col-md-5 align-self-center">
        <h3 class="h3">
           Измерение электрических параметров
        </h3>
        <p>Sferio дает возможность снимать информацию с датчиков температуры, постоянного и переменного напряжения, а также с других
        аналоговых и цифровых датчиков (влажности, движения, открытия дверей, протечки). Передача информации осуществляется через
        стек протоколов XML/HTTP/TCP-IP/Wi-FI.</p>
      </div>
    </div>
    <div class="row capability__item">
      <div class="offset-right-md-1 col-md-5 align-self-center">
        <h3 class="h3">
           Cбор и обработка информации средствами ZABBIX
        </h3>
        <p>Для обработки информации Sferio использует <span class="link">ZABBIX</span> — свободную систему мониторинга и отслеживания статусов сервисов. ZABBIX
        позволяет собирать и хранить принятую информацию, настраивать оповещения при выходе сигнала за определенные рамки и логику
        анализа данных.</p>
      </div>
      <div class="offset-md-1 col-md-5 align-self-center">
        <img class="img-responsive" src="./img/zabbix.png" alt="zabbix">
      </div>
    </div>
    <div class="row capability__item">
      <div class="offset-right-md-1 col-md-5 align-self-center">
        <img class="img-responsive" src="./img/mac.png" alt="mac">
      </div>
      <div class="offset-md-1 col-md-5 align-self-center">
        <h3 class="h3">
           Отображение информации в удобном виде
        </h3>
        <p>Собранная с датчиков информация отображается через сайт либо специальные апаратные устройства (светофоры, светодиодные панели).
        Есть возможность привязки получаемой информации к карте местности.</p>
      </div>
    </div>
    <div class="row capability__item">
      <div class="offset-right-md-1 col-md-5 align-self-center">
        <h3 class="h3">
           Визуальное оповещение о статусе систем
        </h3>
        <p>С помощью устройства Sferio Lights вы всегда можете контролировать статус систем, которые поставлены на мониторинг в ZABBIX.
        Устройство подключается к системам и визуально и звуковыми ефектами отображает информацию об их состоянии. Ознакомьтесь с
        деталями в <a href="#">паспорте устройства.</a></p>
      </div>
      <div class="offset-md-1 col-md-5 align-self-center text-center">
        <div class"capability__img">
          <svg width="150" height="355" viewBox="0 0 50 205">
            <g fill="none" fill-rule="evenodd">
              <path stroke="#979797" stroke-width="2" d="M1,156 L1,204 L49,204 L49,156 L39,156 L39,8 C39,4.13400675 35.8659932,1 32,1 L18,1 C14.1340068,1 11,4.13400675 11,8 L11,156 L1,156 Z"
              />
              <rect width="36" height="2" x="6" y="155" fill="#979797" />
              <g transform="translate(10 10)">
                <rect width="30" height="5" y="130" fill="#8B8B8B" />
                <rect width="30" height="5" y="85" fill="#8B8B8B" />
                <rect width="30" height="5" y="40" fill="#8B8B8B" />
                <rect width="30" height="40" y="90" fill="#26C281" />
                <rect width="30" height="40" y="45" fill="#F7CA18" />
                <rect width="30" height="40" fill="#F03434" />
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <aside class="capability__add">
    <h3 class="h3 text-center">Дополнительные преимущества</h3>
    <div class="container">
      <div class="capability__icon-t icon-t">
        <div class="icon-t__item">
          <div class="icon-t__content">
            <div class="icon-t__i">
              <svg version="1.1" viewBox="0 0 64 64">
                <g fill="#FF7C1C">
                  <path d="M40.382,34.845l-4.15,-4.15l7.559,-7.436h3.591c5.019,0 11,-2.342 11,-13.5v-1.573l-8.778,4.115l-3.038,-3.164l3.84,-8.878h-1.524c-11.158,-4.44089e-16 -13.5,6.011 -13.5,11v3.59l-7.442,7.554l-12.144,-12.144l3.198,-3.198l-11.767,-7.061l-3.104,3.104l7.061,11.768l3.198,-3.199l12.154,12.154l-24.366,24.73l-0.178,0.18l-1.992,6.831l2.968,2.793l6.857,-1.696l24.98,-24.567l4.163,4.161l-3,3l20.414,20.414l7.414,-7.414l-20.414,-20.414l-3,3Zm-33.741,-31.431l0.896,-0.896l8.232,4.939l-4.189,4.189l-4.939,-8.232Zm2.173,51.44l-5.268,1.304l-1.282,-1.207l1.508,-5.169l33.61,-34.113v-4.41c0,-5.6 3.261,-8.521 9.958,-8.896l-3.142,7.236l4.962,5.117l7.174,-3.362c-0.405,6.575 -3.412,9.905 -8.952,9.905h-4.409l-34.159,33.595Zm47.568,1.991l-17.586,-17.586l4.586,-4.586l17.586,17.586l-4.586,4.586Z"
                    transform="translate(0.618, 2.741)"></path>
                </g>
              </svg>
            </div>
            <div class="icon-t__t">
              <p>Конфигурация устройства по желанию заказчика</p>
            </div>
          </div>
        </div>
        <div class="icon-t__item">
          <div class="icon-t__content">
            <div class="icon-t__i">
              <svg version="1.1" viewBox="0 0 64 64">
                <g fill="#FF7C1C">
                  <path d="M23,0l-23,36l0.843,1.538h12.695l-6.661,24.74l1.776,0.846l26,-36l-0.81,-1.586h-12.834l3.823,-24.848l-1.832,-0.69Zm-4.145,26.386l0.988,1.152h12.044l-21.66,29.991l5.582,-20.731l-0.966,-1.26h-12.174l19.465,-30.468l-3.279,21.316Z"
                    transform="translate(16.157, 0.462)"></path>
                </g>
              </svg>
            </div>
            <div class="icon-t__t">
              <p>Питание от 8 до 30 В, ток потребления до 100 мА</p>
            </div>
          </div>
        </div>
        <div class="icon-t__item">
          <div class="icon-t__content">
            <div class="icon-t__i">
              <svg version="1.1" viewBox="0 0 64 64">
                <g fill="#FF7C1C">
                  <path d="M54,28h-54v-28h54v28Zm-52,-2h50v-24h-50v24Z" transform="translate(0, 23)"></path>
                  <path d="M54,28h-9v-2h7v-24h-50v7h-2v-9h54Z" transform="translate(10, 13)"></path>
                  <path d="M42,20h-37v-1c0,-1.558 -0.484,-3 -4,-3h-1v-12h1c3.516,0 4,-1.442 4,-3v-1h37v1c0,2.479 1.632,3 3,3h1v12h-1c-1.368,0 -3,0.521 -3,3v1Zm-35.073,-2h33.143c0.361,-2.481 2.084,-3.63 3.931,-3.923v-8.154c-1.847,-0.292 -3.569,-1.441 -3.931,-3.923h-33.143c-0.281,1.839 -1.459,3.668 -4.927,3.96v8.08c3.468,0.292 4.646,2.121 4.927,3.96Z"
                    transform="translate(4, 27)"></path>
                  <path d="M6,12c-3.309,0 -6,-2.691 -6,-6c0,-3.309 2.691,-6 6,-6c3.309,0 6,2.691 6,6c0,3.309 -2.691,6 -6,6Zm0,-10c-2.206,0 -4,1.794 -4,4c0,2.206 1.794,4 4,4c2.206,0 4,-1.794 4,-4c0,-2.206 -1.794,-4 -4,-4Z"
                    transform="translate(21, 31)"></path>
                </g>
              </svg>
            </div>
            <div class="icon-t__t">
              <p>Низкая стоимость владения системой</p>
            </div>
          </div>
        </div>
        <div class="icon-t__item">
          <div class="icon-t__content">
            <div class="icon-t__i">
              <svg version="1.1" viewBox="0 0 64 64">
                <g fill="#FF7C1C">
                  <path d="M27,0c-13.417,0 -27,2.748 -27,8v48c0,5.252 13.583,8 27,8c13.417,0 27,-2.748 27,-8v-48c0,-5.252 -13.583,-8 -27,-8Zm0,62c-15.489,0 -25,-3.495 -25,-6v-12.775c4.254,3.145 14.672,4.775 25,4.775c10.328,0 20.746,-1.63 25,-4.775v12.775c0,2.505 -9.511,6 -25,6Zm0,-16c-15.489,0 -25,-3.495 -25,-6v-12.775c4.254,3.145 14.672,4.775 25,4.775c10.328,0 20.746,-1.63 25,-4.775v12.775c0,2.505 -9.511,6 -25,6Zm0,-16c-15.489,0 -25,-3.495 -25,-6v-12.775c4.254,3.145 14.672,4.775 25,4.775c10.328,0 20.746,-1.63 25,-4.775v12.775c0,2.505 -9.511,6 -25,6Zm0,-16c-15.489,0 -25,-3.495 -25,-6c0,-2.505 9.511,-6 25,-6c15.489,0 25,3.495 25,6c0,2.505 -9.511,6 -25,6Z"
                    transform="translate(6, 0)"></path>
                </g>
              </svg>
            </div>
            <div class="icon-t__t">
              <p>Работа в автономном режиме при наличии веб-сервера</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
</section>