<section class="sc scenario" id="scenario">
  <div class="scenario__canvas">
    <h2 class="sc__heading scenario__heading">Почему стоит использовать Sferio?</h2>
    <div class="scenario__tip scenario__tip--1">
      <div class="scenario__text">Информирование о исправной работе стабилизаторов напряжения</div>
    </div>
    <div class="scenario__tip scenario__tip--2">
      <div class="scenario__text">Контроль заряда АКБ</div>
    </div>
    <div class="scenario__tip scenario__tip--3">
      <div class="scenario__text">Контроль наличия электроснабжения и информирование о энергопотреблении</div>
    </div>
    <div class="scenario__tip scenario__tip--4">
      <div class="scenario__text">Контроль отопительной системы и температуры в помещениях</div>
    </div>
    <div class="scenario__tip scenario__tip--5">
      <div class="scenario__text">Информирование о чрезвычайных ситуациях</div>
    </div>
    <img class="scenario__img" src="./img/house.jpg" alt="house">
  </div>
</section>