<section class="sc scenario" id="scenario">
  <div class="scenario__canvas">
    <h2 class="sc__heading scenario__heading">Почему стоит использовать Sferio?</h2>
    <span class="scenario__tip scenario__tip--1"></span>
    <span class="scenario__tip scenario__tip--2"></span>
    <span class="scenario__tip scenario__tip--3"></span>
    <span class="scenario__tip scenario__tip--4"></span>
    <span class="scenario__tip scenario__tip--5"></span>
    <img class="scenario__img" src="/img/house.jpg" alt="house">
  </div>
</section>