<section class="sc specifications" id="specifications">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        IMAGE
      </div>
      <div class="col-md-8">
        <ul class="specifications__list">
          <li class="specifications__item">
            <p class="specifications__name">Габаритные размеры</p>
            <p class="specifications__data">90 х 70 х 65 мм</p>
          </li>
          <li class="specifications__item">
            <p class="specifications__name">Вес устройства</p>
            <p class="specifications__data">&lt; 250 г</p>
          </li>
          <li class="specifications__item">
            <p class="specifications__name">Номинальное напряжение переменного тока</p>
            <p class="specifications__data">380 В</p>
          </li>
          <li class="specifications__item">
            <p class="specifications__name">Номинальное напряжение постоянного тока</p>
            <p class="specifications__data">15; 30; 60 В</p>
          </li>
          <li class="specifications__item">
            <p class="specifications__name">Номинальный ток контроля</p>
            <p class="specifications__data">50 A</p>
          </li>
          <li class="specifications__item">
            <p class="specifications__name">Напряжение питания устройства</p>
            <p class="specifications__data">12,6 В ± 10%</p>
          </li>
          <li class="specifications__item">
            <p class="specifications__name">Частота сети</p>
            <p class="specifications__data">45 – 55 Гц</p>
          </li>
          <li class="specifications__item">
            <p class="specifications__name">Wi-Fi</p>
            <p class="specifications__data">802.11 b/g/n</p>
          </li>
        </ul>
        <button class="btn btn--orange" type="buttone" data-modal="order"></button>
      </div>
    </div>
  </div>
</section>