<section class="welcome sc sc--secondary sc--skew">
  <div class="container">
    <div class="row">
      <div class="col-md-7 welcome__text">
        <h1 class="h1 sc__heading welcome__heading">Вся ваша инфраструктура под надежным контролем</h1>
        <p>Sferio — это автоматизированная система, которая позволяет снимать информацию о параметрах электрических сигналов с датчиков,
        а также решает задачу их мониторинга и информирования о выходе за установленные пределы.</p>
        <a href="order-form.html" class="btn btn--orange welcome__btn">Заказать</a>
      </div>
      <div class="col-md-4 offset-lg-1 text-right">
        <img class="img-responsive welcome__img" src="/img/sferio-frontal-view.jpg" alt="">
      </div>
    </div>
  </div>
</section>