<section class="welcome sc">
  <div class="container">
    <div class="row">
      <div class="col-8 welcome__text">
        <h2 class="h2 sc__heading welcome__heading">Вся ваша инфраструктура под надежным контролем</h2>
        <p>Sferio — это автоматизированная система, которая позволяет снимать информацию о параметрах электрических сигналов с датчиков,
        а также решает задачу их мониторинга и информирования о выходе за установленные пределы.</p>
        <button type="button" class="btn btn--orange">Заказать</button>
      </div>
      <div class="col-4">
        IMAGE
      </div>
    </div>
  </div>
</section>