.icon-decor {
  width: 1.54em;
  height: 1em;
  fill: #00AAEF;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-logo {
  width: 3.06em;
  height: 1em;
  fill: none;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
