.header
  position: fixed
  width: 100%
  top: 0
  z-index: 10
  background: $color_bg
  color: $color_bg_light
  padding: 15px 0
  &__wrapper
    display: flex
    justify-content: flex-end
    align-items: center
    flex-wrap: wrap
  &__logo
    margin-right: auto
  &__menu
    .nav__link
      